
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");

@keyframes anim-glow {
	0% {
		box-shadow: 0 0 0 0 transparent;
	}
	100% {
		box-shadow:0px 0px 20px 5px white;
		
    }
}

header{
    background-color: black;
    background-image: url("img/ZZZZZ2581.jpg");
    object-fit: fill;
}

.overlay {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
   
    overflow: hidden;
   
    height: 0;

    transition: .5s linear;
    
   
  }

  .nav:hover .overlay {
    
    
    height: 50px;
    padding: 3px;
    margin-left: 3px;
    
  }


.icon	{
	
	
	width: 1px;
	height: 1px;
	text-align: center;
	position: relative;
	animation: anim-glow 2s ease infinite;
		
	
}

#hamburger{
    height: 20px;
}

.nav{
    background-color: rgb(1, 42, 58);
}

html{
    background-color: rgb(10, 29, 37);
    overflow: hidden;
   
}

.mainImg{
    width: 300px;
}

body{
    height: 100vh;
}

#body{
    height: 60vh;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.card{
    background-color: rgb(1, 42, 58);
    color: white;
}

.fill
{width: 100%;}

@media only screen and (max-width: 800px) {
    #mainImg {
      display: none;
    }

    .menu{
        margin-left: 10px;
        margin-right: 10px;
    }
    #body{
        height: 90vh;
        overflow: auto;
        padding-top: 8px;
        margin-top: 6px;
       
    }
  }
  @media only screen and (max-width: 420px) {
    #mainImg {
      display: none;
    }

    .menu{
        margin-left: 1px;
        margin-right: 1px;
        
    }
    #body{
        
        
        
        
       
    }
    #bar
    {margin: 0%;}
  }